<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <style>
      df-messenger {
       --df-messenger-bot-message: #FFEBEB;
       --df-messenger-button-titlebar-color: #DA0000;
       --df-messenger-chat-background-color: #ffffff;
       --df-messenger-font-color: black;
       --df-messenger-send-icon: #46B4FA;
       --df-messenger-user-message: #CCE5FF;
      }
      *{
        font-family: 'Nanum Gothic', sans-serif;
      }
    </style>
    
    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
    
    <df-messenger
      intent="WELCOME"
      chat-title="Lunch Bot"
      agent-id="7d76d094-c207-4ffe-895b-ab3ce2990b45"
      language-code="ko"    
      chat-icon="https://user-images.githubusercontent.com/103111041/169630391-8f1122ac-71b8-454c-a987-66b534ca33cc.png"
      >
    </df-messenger>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <img src="https://user-images.githubusercontent.com/75359710/170238708-f4e0b70c-9cd4-4e57-8aeb-a43c5a9bfc41.png">

        {% if site.logo %}
          <img src="{{ site.description | default: site.github.project_tagline }}" alt="LunchBot" />
        {% endif %}

        <p><img src="https://user-images.githubusercontent.com/75359710/170236799-9d4f0547-29bb-43f5-8e1e-a079470ead8d.jpg"></p>


        {% if site.github.is_user_page %}
        <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        {% endif %}

        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
        {% endif %}
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <!--<p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>-->
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
